
@{
    Layout = null;
}
<link href="~/Content/Site.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>About</title>
</head>
<body>
    <div id="aboutBody">
        <div class="main-memu">
            <ul>
                <li><a href="/Home/Index">首頁</a></li>
                <li><a href="#">關於辜黃琦</a></li>
                <li><a href="#">自傳</a></li>
                <li><a href="#">作品集</a></li>
            </ul>
        </div>
        <div><img /></div>
        <div class="profile">基本資料</div>
        <div class="profile-content">

        </div>
        <div class="education">學習經歷</div>
        <div class="education-content"></div>
        <div class="work">工作經歷</div>
        <div class="work-content"></div>
        <div class="skill">技能與證照</div>
        <div class="skill-content"></div>
        </div>
</body>
</html>
