<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />
@{
    ViewBag.Title = "Autobiography";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aTitle"><p class="animated fadeInDown">自傳</p></div>
<div class="aContent">
    　　我是辜黃琦，來⾃⼀個純樸的家庭，家⼈對我的⽣活保有尊重⽀持且不⼲涉，因為他們認為，⾃⼰
    的⼈⽣就要⾃⼰去活得精采！於是我學會了獨立⾃主，凡是可以⾃⼰解決的事我都會努⼒去做。<br>
    　　我畢業於中華⼤學應⽤⽇語學系，在⼤學⽣活中，只要有活動我都會把握去參加，因為我相信⼀定
    能從中學到很多課程中學不到的事，累積經驗也能對未來有很⼤的幫助。我擔任過聯合迎新的活動
    ⻑，這個職務讓我學到如何編排規劃活動的時間，以及各⽅⾯活動的應對能⼒，從活動中可以接觸
    到不同的⼈事物，也增進了⾃⼰的社交能⼒。我也積極參加社團活動，擔任過社團幹部，我所擔任
    的是系學會文書⻑及資訊⻑的職位，社團就像⼀個⼩公司，團隊間的合作就成了最重要的要素，社
    團評鑑是社團的成果發表會，我們在短時間內討論出攤位擺設、文件編排、⼯作分配，團隊中的默
    契讓我們順利得到最佳創意第⼀名的獎項。<br>
    　　我曾在⽇本展打過⼯，打⼯內容是擔任客⼈與⽇本老闆之間的溝通橋樑，因為本⾝是⽇文系，所以
    希望⾃⼰的所常能學以致⽤。⾃⼰的⽇文程度還沒有到精通，曾在⼯作期間因聽不懂老闆的話⽽出
    錯， 但俗話說「失敗為成功之⺟」，加上凡事要⾃⼰解決的個性，使我養成把不會的單字寫下來的
    習慣，最後也順利的完成所有的⼯作。<br>
</div>
<div class="bTitle"><p class="animated fadeInDown">想成為網頁設計師的理由</p></div>
<div class="aContent">
    　　⼤學畢業前，因緣際會之下加入了為期半年的Build-School軟體實作培訓班，剛開始會恐懼程式碼，程式碼對我來說就像是亂碼，這半年的培訓對於第⼀次寫程式的我來說非常艱辛，每天平均10個⼩時以上的練習才能跟上進度，讓我從「被教」變成「教⼈」，最後有幸能參與專題－開賣啦商家開店平台製作，我擔任前端⾴⾯設計及整合的部分，網⾴的設計需要細⼼與耐⼼，只要有⼀顆老鼠屎就會壞了⼀整個⾴⾯，其中遇到了⼀個瀏覽器相容性問題，卡了⼀個多⽉還是無法解決，不斷地尋求老師的幫助及⾃⼰查資料，最後在網路上找到了解決⽅法，除了更加熟練前端的語法之外，也有極⼤的成就感，雖然要付出許多精⼒與⼼⼒，但只要看到成品出來時，就會覺得⼀切的辛苦都值得了！ <br>
    　　我雖然不是本科系的學⽣，但在寫程式上找到了熱情，從前都是看別⼈的網⾴，現在是⾃⼰著⼿寫網⾴，每當完成⼀個作品時，⼼情總是無比的喜悅，無時無刻都在挑戰⾃⼰，學習更多技
    術成為我今後的⽬標。<br>
    　　最後，感謝貴公司閱讀我的履歷，相信我的毅⼒及熱情，絕對不會讓貴公司失望的！
</div>
