<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />
@{
    ViewBag.Title = "Autobiography";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aTitle"><span class="animated fadeInDown">自傳</span></div>
<div class="aContent">
    　　我是辜黃琦，來自一個純樸的家庭，家人對我的生活保有尊重支持且不干涉，因為他們認為，
    自己的人生就要自己去活得精采！於是我學會了獨立自主，遇到問題會盡所能解決。<br>
    　　我畢業於中華大學應日系，在大學生活中，只要有活動我都會把握去參加，我相信每個活動裡面，
    一定都能學到在課程中學不到的經驗，我曾擔任過四系聯合迎新的活動長、應日系系學會的資訊長及文書長，
    這些職務讓我學到了各方面的應對能力，以及最重要的團隊合作。<br>
    　　我曾在⽇本展打過⼯，工作內容是擔任客⼈與老闆之間的溝通橋樑，因為自己本身是日文系，
    所以希望⾃⼰的所常能學致⽤。雖說⽇文程度還沒有很好，也在工作期間因聽不懂老闆的話而出錯，
    但失敗為成功之母，加上凡事要自己解決的個性，使我養成把不會的單字寫下來的習慣，最後也順利的完成所有的工作。<br>
    　　最後，我相信的毅⼒及熱情，絕對不會讓您及貴公司失望！
</div>
<div class="bTitle"><span class="animated fadeInDown">想成為網頁設計師的理由</span></div>
<div class="aContent">　　大學畢業前，因緣際會之下加入了為期半年的<a href="https://www.build-school.com">Build-School</a>
    軟體實作培訓班，剛開始會恐懼程式碼，程式碼對我來說就像是亂碼，這半年的培訓對於第一次寫程式的我來說非常艱辛，
    每天平均10個小時以上的練習才能跟上進度，這讓我從「被教」變成「教人」，最後有幸能參與專題
    <a href="http://wanna-eat.azurewebsites.net/">開賣啦商家開店平台</a>製作，我擔任前端頁面設計的部分，
    網頁的設計需要細心與耐心，只要有一顆老鼠屎就會壞了一整個頁面，其中遇到了一個前端問題，卡了一個多月還是無法解決，
    不斷地尋求老師以及自己查資料，最後在網路上找到了解決方法，除了更加熟練前端的語法之外，也有極大的成就感，
    雖然要付出取多精力與心力，但只要看到成品出來時，就會覺得一切的辛苦都值得了！<br>
    　　我雖然不是本科系的學生，但我在寫程式上找到了熱情，從前都是看別人的網頁，現在是自己著手寫網頁，每當完成一個作品時，
    心情總是無比的喜悅，每個時刻都在挑戰自己，這就是我想成為網頁設計師的理由。</div>
