<link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>Index</title>
</head>

<body>
    <div class="indexText1 animated fadeInDown">初心忘るべからず</div>
    <div class="indexText2 animated fadeInDown">莫忘初衷</div>
    <div id="indexBtns">
        <button class="indexBtn" type="submit" value="關於辜黃琦" onclick="javascript:location.href='/Home/About'">關於辜黃琦</button>
        <button class="indexBtn" type="submit" value="自傳" onclick="javascript:location.href='/Home/Autobiography'">自傳</button>
        <button class="indexBtn" type="submit" value="作品集" onclick="javascript:location.href='/Home/Portfolio'">作品集</button>
    </div>
</body>
</html>
