@{
    Layout = null;
}
<link href="~/Content/Site.css" rel="stylesheet" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>Index</title>
</head>

<body>
    <div id="indexBody">
        <img src="~/Images/railway-2439189_1920.jpg" />
        <input type="button" placeholder="關於辜黃琦" />
        <input type="button" placeholder="作品集" />
        <input type="button" placeholder="自傳" />
    </div>

</body>
</html>
