<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="basic">
    <div class="pTitle1">
        <h1 class="animated fadeInLeft">基本排版</h1>
    </div>
    <div class="pTitle1-content">
        <p>運用技術</p>
        <ul>
        <li>1.Bootstrap</li>
        <li>2.JavaScript</li>
        <li>3.jQuery</li>
        <li>4.CSS</li>
        </ul>
    </div>
</div>
<div class="basic-works">
    <button class="works1 animated fadeInDown" type="submit" value="作品一" onclick="javascript:location.href='http://ku-bs2017-frontend.azurewebsites.net/boot4.html'">作品一</button>
    <button class="works animated fadeInDown" type="submit" value="作品二" onclick="javascript:location.href='http://ku-bs2017-frontend.azurewebsites.net/%E8%82%89%E7%90%83%E6%96%B0%E8%81%9E.html'">作品二</button>
    <button class="works animated fadeInDown" type="submit" value="作品三" onclick="javascript:location.href='http://ku-bs2017-frontend.azurewebsites.net/boot3.html'">作品三</button>
    <button class="works animated fadeInDown" type="submit" value="作品四" onclick="javascript:location.href='http://ku-bs2017-frontend.azurewebsites.net/小瑪莉.2.html'">作品四</button>
</div>
<div class="other">
    <div class="pTitle2">
        <h1 class="animated fadeInLeft">其他應用</h1>
    </div>
    <div class="pTitle2-content">
        <p>運用技術</p>
        <ul>
            <li>1.Bootstrap</li>
            <li>2.JavaScript</li>
            <li>3.jQuery</li>
            <li>4.CSS</li>
            <li>5.Ajax/Json</li>
            <li>6.Google API</li>
        </ul>
    </div>
</div>
<div class="other-works">
    <button class="oWorks1 animated fadeInDown" type="submit" value="作品一" onclick="javascript:location.href='http://ku-bs2017-frontend.azurewebsites.net/%E6%89%93%E5%9C%B0%E9%BC%A0.html'">作品一</button>
    <button class="oWorks animated fadeInDown" type="submit" value="作品二" onclick="javascript:location.href='http://ku-bs2017-frontend.azurewebsites.net/YouBike%E7%AB%99%E9%BB%9E%E6%9F%A5%E8%A9%A2.html'">作品二</button>
    <button class="oWorks animated fadeInDown" type="submit" value="作品三" onclick="javascript:location.href='http://ku-bs2017-frontend.azurewebsites.net/%E8%B7%AF%E5%A4%96%E5%81%9C%E8%BB%8A(%E5%9C%B0%E5%9C%96%E5%85%A7%E5%B5%8C%E7%89%88).html'">作品三</button>
    <button class="oWorks animated fadeInDown" @*style="margin-left:28%; margin-bottom: 25px;"*@ type="submit" value="作品四" onclick="javascript:location.href='http://ku-bs2017-frontend.azurewebsites.net/%E7%94%9F%E5%91%BD%E9%9D%88%E6%95%B8.html'">作品四</button>
    <button class="oWorks animated fadeInDown" type="submit" value="作品四" onclick="javascript:location.href='http://ku-bs2017-frontend.azurewebsites.net/%E5%85%AC%E8%BB%8A%E6%99%82%E5%88%BB%E8%A1%A8.html'">作品五</button>
</div>
