<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "Autobiography";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aTitle">自傳</div>
<div class="aContent">我是辜黃琦，來自一個純樸的家庭，</div>
<div class="aTitle">想成為網頁設計師的理由</div>
<div class="aContent"></div>
